:root {
    --neutral-50: hsl(0, 0%, 100%);
    --neutral-100: hsl(0, 0%, 95%);
    --neutral-150: hsl(0, 0%, 90%);
    --neutral-200: hsl(0, 0%, 85%);
    --neutral-250: hsl(0, 0%, 80%);
    --neutral-300: hsl(0, 0%, 75%);
    --neutral-350: hsl(0, 0%, 70%);
    --neutral-400: hsl(0, 0%, 65%);
    --neutral-450: hsl(0, 0%, 60%);
    --neutral-500: hsl(0, 0%, 55%);
    --neutral-550: hsl(0, 0%, 50%);
    --neutral-600: hsl(0, 0%, 45%);
    --neutral-650: hsl(0, 0%, 40%);
    --neutral-700: hsl(0, 0%, 35%);
    --neutral-750: hsl(0, 0%, 30%);
    --neutral-800: hsl(0, 0%, 25%);
    --neutral-850: hsl(0, 0%, 20%);
    --neutral-900: hsl(0, 0%, 15%);
    --neutral-950: hsl(0, 0%, 10%);
}

:root {
    --ff: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::selection {
    background-color: var(--neutral-700);
    color: var(--neutral-50);
}

body {
    font-family: var(--ff);

    background-color: var(--neutral-950);
    color: var(--neutral-50);
}

svg,
img {
    width: 100%;
    display: block;
    object-fit: cover;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

ul[role="list"] {
    list-style: none;
}

.u-cursor-pointer {
    cursor: pointer;
}

.u-icon-svg {
    inline-size: 2.5rem;
}

.u-icon-svg-2 {
    inline-size: 1.5rem;
}

.u-icon-svg-3 {
    inline-size: 1.25rem;
}

.loader {
    inline-size: 1em;
    block-size: 1em;

    margin: auto;

    border-radius: 50%;

    position: fixed;
    inset: 0;
    z-index: 10000;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.525rem;
    color: var(--neutral-50);

    animation: loader-animation 1.3s infinite linear;

    transform: translateZ(0);
}

.l-header {
    inline-size: 20rem;
    block-size: 100dvh;

    position: fixed;
    inset-block: 0;
    inset-inline-start: -15rem;
    z-index: 1000;

    will-change: transform;

    transition: inset-inline-start 0.5s ease-in-out;

    &.is-show {
        inset-inline-start: 0;
    }

    background-color: var(--neutral-950);
    color: var(--neutral-50);

    .l-navbar {
        .l-navbar__start {
            background-color: inherit;
        }

        .l-navbar__end {
            background-color: var(--neutral-50);
        }

        .l-navbar__logo {
            inline-size: 3rem;
        }
    }
}

@keyframes loader-animation {
    0%,
    100% {
        box-shadow:
            0 -3em 0 0.2em,
            2em -2em 0 0,
            3em 0 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 -1em,
            -3em 0 0 -1em,
            -2em -2em 0 0;
    }
    12.5% {
        box-shadow:
            0 -3em 0 0,
            2em -2em 0 0.2em,
            3em 0 0 0,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 -1em,
            -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }
    25% {
        box-shadow:
            0 -3em 0 -0.5em,
            2em -2em 0 0,
            3em 0 0 0.2em,
            2em 2em 0 0,
            0 3em 0 -1em,
            -2em 2em 0 -1em,
            -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow:
            0 -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0 0 0,
            2em 2em 0 0.2em,
            0 3em 0 0,
            -2em 2em 0 -1em,
            -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }
    50% {
        box-shadow:
            0 -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0 0 -1em,
            2em 2em 0 0,
            0 3em 0 0.2em,
            -2em 2em 0 0,
            -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow:
            0 -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 0,
            -2em 2em 0 0.2em,
            -3em 0 0 0,
            -2em -2em 0 -1em;
    }
    75% {
        box-shadow:
            0 -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 0,
            -3em 0 0 0.2em,
            -2em -2em 0 0;
    }
    87.5% {
        box-shadow:
            0 -3em 0 0,
            2em -2em 0 -1em,
            3em 0 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 0,
            -3em 0 0 0,
            -2em -2em 0 0.2em;
    }
}
